html {
    scroll-behavior: smooth;
}
body{ 
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
.card {
    background-color: rgba(68, 67, 67, 0.301)!important;
    backdrop-filter: grayscale(0.5) opacity(0.6) blur(2px);    
}

h1, p, h2, h3{
    color: #7c7c7c!important;
}
 
#init{
    background-image: url(../images/init.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
#about{
    background-image: url(../images/about.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
#knowledge{
    background-color: black;
    background-position: center;
    background-size: cover;
}
#portfolio{
    background-image: url(../images/portfolio.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

}
#contact{
    background-image: url(../images/portfolio.png);
    background-position: center;
    background-size: cover;  
}
.v-h {
    position: absolute !important;
    height: 1px; width: 1px; 
    display: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
}
.circle{
    border-radius: 50%!important;
}
.element-contact{
    backdrop-filter: grayscale(0.5) opacity(0.6) blur(2px);
    align-items: center;
    justify-content: space-around;
    padding: 15px;
    border-radius: 3px;
    max-width: 500px;
    margin: auto!important;
    margin-bottom: 10px!important;
}
.project{
    backdrop-filter: grayscale(0.5) opacity(0.6) blur(2px);    
    border-radius: 7px;
    padding: 10px;
    margin-bottom: 10px!important;
}

.imagen{
    max-width: 650px;   
    min-width: 250px;
    margin: 10px 0px;
    margin-bottom: 10px;
}
.github-card{
    width: 250px!important;
    height: 250px!important;
}

.image-repo{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.color-text{
    color: #ff3d00!important;
}
.color-text-2{
    color: #dd2c00!important;
}
.color-text-3{
    color: #bf360c!important;
}

.bg-gray-trans{
    background-color: rgba(41, 40, 40, 0.295)!important;
    backdrop-filter: grayscale(0.5) opacity(0.6) blur(2px)!important;
}
