html {
    scroll-behavior: smooth;
}
body{ 
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    
}
::selection {
    color: black;
    background: #dd2c00;
}
.card {
    background-color: rgba(68, 67, 67, 0.301)!important;
    backdrop-filter: grayscale(0.5) opacity(0.6) blur(2px);    
}
.card:hover{
    background-color: rgba(68, 67, 67, 0.301)!important;
    backdrop-filter: grayscale(0.5) opacity(0.15) blur(1px);    
}

h1, p, h2, h3{
    color: #7c7c7c!important;
}
 
#init{
    background-image: url(../images/init.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
#about{
    /*background-image: url(../images/about.jpg);*/
    background-color: #0e0e0e;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.about__img{
    position: absolute;
    right: 0;
    bottom: 0;
    opacity: .65;
}
#knowledge{
    background-color: #0e0e0e;
    background-position: center;
    background-size: cover;
}
#portfolio{
    /*background-image: url(../images/portfolio.png);*/
    background-color: #0e0e0e;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

}
#contact{
    /*background-image: url(../images/portfolio.png);*/
    background-color: #0e0e0e;
    background-position: center;
    background-size: cover;  
}
.v-h {
    position: absolute !important;
    height: 1px; width: 1px; 
    display: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
}
.circle{
    border-radius: 50%!important;
}
.element-contact{
    backdrop-filter: grayscale(0.5) opacity(0.6) blur(2px);
    align-items: center;
    justify-content: space-around;
    padding: 15px;
    border-radius: 3px;
    max-width: 500px;
    margin: auto!important;
    margin-bottom: 10px!important;
}
.project{
    backdrop-filter: grayscale(0.5) opacity(0.6) blur(2px);    
    border-radius: 7px;
    padding: 10px;
    margin-bottom: 10px!important;
}

.imagen{
    max-width: 650px;   
    min-width: 250px;
    margin: 10px 0px;
    margin-bottom: 10px;
}
.github-card{
    width: 250px!important;
    height: 250px!important;
}

.image-repo{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.color-text{
    color: #ff3d00!important;
}
.color-text-2{
    color: #dd2c00!important;
}
.color-text-3{
    color: #bf360c!important;
}

.bg-gray-trans{
    background-color: rgba(41, 40, 40, 0.295)!important;
    backdrop-filter: grayscale(0.5) opacity(0.6) blur(2px)!important;
}

.gears{
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-50%,-50%);
    width: 500px;
    height: 500px;
    
}

@media (max-width:500px) {
    .gears #gear4{
        display: none;
    }
}

#gear1{
    top: 50%;
    left: 50%;

    animation: rotate2 .5s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
    animation-iteration-count: 1;
    animation-fill-mode: both;
}
#gear2{
    top: 125px;
    left: 50%;

    animation: rotate1 .5s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
    animation-iteration-count: 1;
    animation-fill-mode: both;
}
#gear3{
    top: 175px;
    left: 425px;

    animation: rotate2 .5s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
    animation-iteration-count: 1;
    animation-fill-mode: both;
}
#gear4{
    top: 375px;
    left: 525px;

    animation: rotate1 .5s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
    animation-iteration-count: 1;
    animation-fill-mode: both;
}
.gear{
    position: absolute;
    opacity: .5;
}
@keyframes rotate1 {
    from{
        transform: translate(-50%,-50%) rotate(0deg);
    }
    to {
        transform:  translate(-50%,-50%) rotate(360deg);
    }
}
@keyframes rotate2 {
    from{
        transform: translate(-50%,-50%) rotate(360deg);
    }
    to {
        transform:  translate(-50%,-50%) rotate(0deg);
    }
}
