html {
    scroll-behavior: auto;
    border: solid thin rgb(177, 174, 174);
}
body{
    margin: 0px;
    padding: 0px;
    background-color: gray!important;
    overflow-x: hidden;
}
.card {
    background-color: rgba(68, 67, 67, 0.301)!important;
}

h1, p, h2, h3{
    color: #7c7c7c!important;
}
 
#init{
    background-image: url(images/init.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
#about{
    background-image: url(images/about.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
#knowledge{
    background-image: url(images/knowledge.jpg);
    background-position: center;
    background-size: cover;
}
#portfolio{
    background-image: url(images/portfolio.png);
    background-position: center;
    background-size: cover;
}
#contact{
    background-image: url(images/contact.png);
    background-position: center;
    background-size: cover;  
}
.v-h {
    position: absolute !important;
    height: 1px; width: 1px; 
    display: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
}
.circle{
    border-radius: 50%!important;
}
.element-contact{
    background-color: rgba(128, 126, 126, 0.287)!important;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border-radius: 3px;
    max-width: 500px;
    margin: auto!important;
    margin-bottom: 10px!important;
}
.project{
    background-color: rgba(77, 75, 75, 0.287)!important;
    border-radius: 7px;
    padding: 10px;
    margin-bottom: 10px!important;
}

.imagen{
    max-width: 650px;   
    min-width: 250px;
    margin: 10px 0px;
    margin-bottom: 10px;
}
.github-card{
    width: 250px!important;
    height: 250px!important;
}

.image-repo{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

