body{
    margin: 0px;
    padding: 0px;
}
.card {
    background-color: rgba(68, 67, 67, 0.301)!important;
}
#init{
    background-image: url(images/init.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
#about{
    background-image: url(images/about.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
#knowledge{
    background-image: url(images/knowledge.jpg);
    background-position: center;
    background-size: cover;
}
#repository{
    background-image: url(images/repository.png);
    background-position: center;
    background-size: cover;
}
#contact{
    background-image: url(images/contact.png);
    background-position: center;
    background-size: cover;  
}
